<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Form</title>
    </head>
    <body>
        <h1>Basic Calculator</h1>
        <form method="post">
            <label for="Value1">Value1</label>
            <input type="number" id="value1" name="value1"><br><br>
            <label for="operator">Operator:</label>
            <select name ="operator" id="operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="/">/</option>
            </select><br><br>
            <label for = "value2">Value 2:</label>
            <input type="number" id="value2" name="value2"><br><br>
            <button type="submit">Calculate</button>
            {% if result %}
                <h2>Result:</h2>
                <p>{{result}}</p>
            {% endif %}    
        </form>
 
    </body>
    </html>